{% extends "base.html" %}

{% block titulo %}
Juegos
{% endblock %}

{% block contenido %}
<div class="container my-4 bg-secondary-subtle">
    <div class="row">
        <div class="col">
            <h3 class="h3">Juegos</h3>
            <a href="{{url_for('formulario_agregar_juego')}}" class="btn btn-success mb-3">Agregar</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for juego in juegos %}
                        <tr>
                            <td>{{juego[1]}}</td>
                            <td>{{juego[2]}}</td>
                            <td>{{juego[3]}}</td>
                            <td>
                                <a href="" class="btn btn-info btn-sm">Editar</a>
                            </td>
                            <td>
                                <form action="" method="POST" class="d-inline">
                                    <input type="hidden" name="id" value="{{juego[0]}}">
                                    <button class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}