{% extends "base.html" %}

{% block titulo %}
Juegos
{% endblock %}

{% block contenido %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h3 class="h3 text-light">Juegos</h3>
            <button class="button type1 my-4">
                <a href="{{url_for('formulario_agregar_juego')}}" class="button"><img src="static/img/icon-agregar.png" style="width: 38px; margin-top: 7px; margin-left: 3px;"></a>
            </button>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="">
                            <th class="text-light">Nombre</th>
                            <th class="text-light ">Descripción</th>
                            <th class="text-light">Precio</th>
                            <th class="text-light text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for juego in juegos %}
                        <tr>
                            <td class="text-light">{{juego[1]}}</td>
                            <td class="text-light">{{juego[2]}}</td>
                            <td class="text-light">{{juego[3]}}</td>
                            <td class="w-25">
                                <div class="d-flex gap-1">
                                    <button class="btn-edit">
                                        <a href="{{url_for('editar_juego', id=juego[0])}}" style="text-decoration: none;" class="d-flex justify-content-center">
                                            <img src="{{url_for('static',filename='img/editar.png')}}" style="height: 22px;">
                                        </a>
                                    </button>
                                    <button class="btn-detalles d-flex justify-content-center">
                                        <a href="{{url_for('detalles', id=juego[0])}}" style="text-decoration: none;" class="d-flex justify-content-center">
                                            <img src="{{url_for('static',filename='img/detalles.png')}}" style="height: 22px;" class="mt-1">
                                        </a>
                                    </button>
                                    <form action="{{url_for('eliminar_juego')}}" method="POST" class="d-inline">
                                        <input type="hidden" name="id" value="{{juego[0]}}">
                                        <button class="btn-eliminar d-flex justify-content-center">
                                            <img src="{{url_for('static',filename='img/eliminar.png')}}" style="height: 22px;" class="mt-1">
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}